<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

data_file = 'data/chipotle.tsv'

In [2]:
file_nested_list = []
with open(data_file, 'r') as tsvfile:
    reader = csv.reader(tsvfile, delimiter='\t')
    for row in reader:
        file_nested_list.append(row)

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [3]:
header = file_nested_list[0]
data = file_nested_list[1:]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [4]:
import pandas as pd
df = pd.DataFrame(data, columns=header)

In [5]:
#remove $ sign in item_price column and convert dtype to float
df['item_price'] = df['item_price'].str.replace('$', '')
df['item_price'] = df['item_price'].astype(float)

In [6]:
#convert dtype of order_id to integer, in order to group by
df['order_id'] = df['order_id'].astype(int)

In [7]:
#group by the order_id, summing item_price, and then calculate average
df.groupby('order_id').sum().mean()

item_price    18.811429
dtype: float64

In [10]:
#quantity column is irrelevant

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [13]:
import numpy as np
unique_sodas = np.unique([item[3] for item in data if 'Canned Soda' in item or 'Canned Soft Drink' in item]).tolist()

In [14]:
unique_sodas

['[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [16]:
#remove 'sauces' and place each topping into a list, if burrito
burrito_desc = [list(item[3].split('['))[-1].replace(']','') for item in data if 'Burrito' in item[2]]
burrito_toppings = [list(item.split(',')) for item in burrito_desc]

In [17]:
#count up the number of toppings per burrito and then average
import numpy as np
avg_burrito_toppings = np.mean([len(item) for item in burrito_toppings])

In [18]:
avg_burrito_toppings

4.337883959044369

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [19]:
chips = [item for item in data if 'Chips' in item[2]]

In [20]:
chips_unique = {}
for item in chips:
    item[2] = item[2].replace('-',' ')
    if item[2] not in chips_unique:
        chips_unique[item[2]] = int(item[1])
    else:
        chips_unique[item[2]] += int(item[1])
chips_unique

{'Chips and Fresh Tomato Salsa': 130,
 'Chips and Tomatillo Green Chili Salsa': 78,
 'Side of Chips': 110,
 'Chips and Guacamole': 506,
 'Chips': 230,
 'Chips and Tomatillo Red Chili Salsa': 75,
 'Chips and Roasted Chili Corn Salsa': 41,
 'Chips and Mild Fresh Tomato Salsa': 1}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [21]:
#What was the most popular order item?

In [22]:
df.groupby('item_name')['quantity'].count().sort_values(ascending=False)

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: quantity, dtype: int64

In [23]:
#compare bowls, burritos and tacos: what item sold the most?

In [24]:
burrito = df[df['item_name'].str.contains('Burrito')]['item_price'].sum()
bowls = df[df['item_name'].str.contains('Bowl')]['item_price'].sum()
tacos = df[df['item_name'].str.contains('Tacos')]['item_price'].sum()

In [25]:
print('Burrito:', burrito,'\nBowls:', bowls, '\nTacos:', tacos)

Burrito: 11899.0
Bowls: 13837.16
Tacos: 3395.4300000000003