In [11]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/advertising.csv')

In [5]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [17]:
var = np.sum((df['TV'] - df['TV'].mean())**2) / (df.shape[0] - 1)

In [20]:
np.sqrt(var)

85.85423631490808

In [14]:
df['TV'].var()

7370.949893216087

In [21]:
df['TV'].std()

85.8542363149081

In [22]:
df['TV'].mean()

147.0425

In [24]:
ci = df['TV'].std() * 1.96

In [25]:
df['TV'].mean() + ci

315.31680317721987

In [26]:
df['TV'].mean() - ci

-21.231803177219888

In [33]:
tv = df['TV'] - df['TV'].mean()

In [35]:
sales = df['sales'] - df['sales'].mean()

In [42]:
cov = np.sum(sales*tv) / (df.shape[0] - 1)

In [41]:
df.cov()

                    TV       radio   newspaper       sales
TV         7370.949893   69.862492  105.919452  350.390195
radio        69.862492  220.427743  114.496979   44.635688
newspaper   105.919452  114.496979  474.308326   25.941392
sales       350.390195   44.635688   25.941392   27.221853

In [44]:
cov / (df['TV'].std()*df['sales'].std())

0.7822244248616063

In [45]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000